@import 'mixins';


html,
body{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: lightgrey;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    min-height: 0;
    min-width: 0; 
}

#home{
    background-color: azure;
    grid-column: 1 / 13;
    height: 100vh;
    h1{
        padding: 20%;
    }
    span a{
        margin-left: 50%;
        color: #397;
        font-weight: bold;
    }
}

header{
    background-color: azure;
    grid-column: 1 / 13;
    ul{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
        height: 100%;
    }
    a{
        color: antiquewhite;
        text-decoration: none;
        width: 100%;
        &:visited{
            color: antiquewhite;
        }
    }
    li{
        width: 100%;
        padding: 1.2em 1em .7em 1em;
        &:hover{
            color: white;
            background-color: lighten(#397, 3);
        }
    }
}

#switch{
    grid-column: 6 / 7;
    &:hover{
        background-color: #397;
    }
    button{
        border-radius: .5em;
        padding: .5em;
        border-style: solid;
        width: 7em;
        background-color: lighten(#397, 5);
        color: whitesmoke;
    }
}

nav{
    background-color: #397;
    position: fixed;
    width: 100vw;
    top: 0;
}

main{
    background-color: transparent;
    grid-column: 2 / 10;
    height: 90vh;
    @include scrollConfig;
    h1{
        margin-top: 2em;
    }
    div{
        padding: 10%;
    }
}

.blog-list-item{
    padding: 2% 0 0 0;
    a{
        color: #333;
        text-decoration: none;
    }
}

.post-content{
    padding: 2% 0 0 0;
}

aside{
    text-align: center;
    background-color: transparent;
    grid-column: 10 / 12;
    min-height: 90vh;
    @include scrollConfig;
    div{
        padding: 7em 0 0 0;
    }
}

footer{
    text-align: center;
    background-color: grey;
    grid-column: 1 / 13;
    div{
        padding: 3%;
    }
}